@use './utility/resets';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



#main{
    height: 100%;
    width: 100%;
    background-color: #090909;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;

    &__header{
        font-size: 1.2rem;
        font-weight: 700;
        font-family: "Poppins", system-ui;
    }
    &__links{
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        font-family: "Roboto", system-ui;
        font-size: 1rem;
        font-weight: 500;

        &--link{
            list-style: none;
            & a{
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

#main > h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 120px;
    width: 70%;
    margin-left: 15%;
    font-family: "Roboto", system-ui;
    position: relative;
    z-index: 2;
}

#main > h1:nth-child(2){
    margin-top: 180px;
}
#main > h1:nth-child(3){
    text-align: center;
}
#main > h1:nth-child(4){
    text-align: center;
}

img{
    height: 400px;
    position: absolute;
    top: 12%;
    left: 40%;
}

#img1{
    rotate: 15deg;
}
#img2{
    rotate: 8deg;
}

#img3{
    rotate: 25deg;
    width: 293px;
}