* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
}

#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(174, 120, 48); */
}

#page2 #image-div{
    height: 100%;
    width: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.5;
}

#page3 {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(217, 235, 49); */
}