* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(88, 102, 151);
    overflow: hidden;
}

#page2 h1{
    font-size: 41rem;
    font-weight: 600;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}